@import "../../node_modules/materialize-sass/sass/materialize";
$primary-color: color("blue", "lighten-2");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$accent-color: color("blue", "accent-1");

$primary-text-color: #212121;
$secondary-text-color: darken(#727272, 15%);

$divider-color:#B6B6B6;

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;

$infected-color:red;
$susceptible-color:orange;
$recover-color:green;

body {
    color: $primary-color;
    font-size:10em;
}

.slide, .slide section, .slide section section {
    background-color: #FCFCFC;
}

.reveal div.slide-number {
    background-color: transparent;
    color: $primary-text-color;
    font-size: 25px;
}

.contributions {

    li {
        font-size: 0.8em;
    }

    div ul {
        margin-bottom: 100px;
    }
}

.reveal .controls {
    left: 10px;
}

.reveal .highlight {
    color: $primary-color-dark;
    font-weight: bolder;
}

.reveal  {

    h1, h2, h3 {
        text-transform: none;
    }

    img {
        border:0;
    }

    .no-shadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .slide-title{
        background-color: $primary-color;
        color:$primary-text-color;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        @extend .col;
        @extend .s12;
        @extend .card-panel;
    }

    .slide-body {
        @extend .card;
        height: 500px;
    }

    .vertical-layout {
        display:table;
    }

    .boxes {
        display:flex;
        width: 100%;
    }

    .box {
        flex:1;
        text-align: center;
        vertical-align:middle;
    }

    .box-middle {
        flex:1;
        text-align: center;
        align-items: center;
        justify-content: center;
    }



    .large-row {
        @extend .row;
        margin-left:-10px;
        margin-right:-10px;
    }

    .arrow {
        font-size: 75px;
        line-height:50%;
        margin-right:-60px;
        margin-left:-60px;
    }

    .arrow2 {
        font-size: 75px;
        line-height:50%;
        margin-right:-60px;
        margin-left:-60px;
    }

    .arrow-symbol {
        line-height:6.5em;
    }

    .simulator-title {
        margin-bottom:50px;
        padding-bottom:30px;
    }

    .cdr-table {
        margin-left:50px;
        width:250px;
        font-size:15px;
        vertical-align:middle;
        position:relative;
        top:150px;
        padding:0px;
        th, td {
            margin:10px;
            vertical-align: middle;
            border-bottom: 0px solid #ddd;
        }
    }


    .full-height-card {
        @extend .card-panel;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }

    .card-image img{
        vertical-align: middle;
        border-width: 0;
    }

    .action-list {
        float: left;
        padding-left: 25px;
        padding-top: 10px;
    }
    .action-list a {
        line-height: 0px;
        margin-right:5px;
    }

}

svg {
    .axis-label{
        font-size: 0.5em;
    }

    .link, .active-link {
        stroke-width:1px;
        stroke:grey;
    }

    .not-active-link {
        stroke: grey;
        stroke-width:1px;
    }

    .not-infected-link {
        stroke: green;
        stroke-width:5px;
    }


    .infected-link {
        stroke: $infected-color;
        stroke-width:5px;
    }

    .infected_node {
        .node-circle{
            //r:7; Set it in d3
            stroke-width:2px;
            stroke:darken($infected-color, 10%);
            fill:$infected-color;
        }
    }

    .susceptible_node {
        .node-circle{
            //r:7; Set it in d3
            stroke-width:2px;
            stroke:darken($susceptible-color, 10%);
            fill:$susceptible-color;
        }
    }

    .infected-square{
        fill:$infected-color;
    }

    .susceptible-square{
        fill:$susceptible-color;
    }

    .recovered-square {
        fill:$recover-color;
    }

    @-webkit-keyframes dash {
        to {
            stroke-dashoffset: -50;
        }
    }

    .IS-line {
        stroke-dasharray: 2;
        stroke-width:2px;
        animation: dash 5s linear infinite;
        stroke:url(#IS-grad);
    }

    .IR-line {
        stroke-dasharray: 2;
        stroke-width:2px;
        animation: dash 5s linear infinite;
        stroke:url(#IR-grad);
    }

    .SI-line{
        stroke-dasharray: 2;
        stroke-width:2px;
        animation: dash 5s linear infinite;
        stroke:url(#SI-grad);
    }

    .no-threshold-analytical-line, .threshold-analytical-line  {
        stroke: black;
    }

    .threshold-line {
        stroke: red;
    }


    .src-node{
        .node-circle{
            stroke-width:20px;
            stroke-dasharray: 2;
            stroke:darken($primary-color-dark, 10%);
            fill:$primary-color-dark;
        }
    }

    .dijkstra-node {
        .node-circle {
        }
    }


    .basic-node {
        text {
            stroke:$primary-text-color;
            cursos:pointer;
        }

        .node-circle {
            stroke-width:3px;
            stroke:darken($primary-color-dark, 10%);
            fill:$primary-color-dark;
        }

        .standard-size {
            r:9;
        }

        .node-name{
            dx: 2.5px;
            dy: .9em;
            font-size: 0.4em;
            color:$primary-text-color;
            cursos:pointer;
        }
    }
    .tick{
        font-size: 12px;
    }

    path.domain{
        fill:none;
        stroke: black;
    }

    .analytical-line {
        stroke: black;
    }

    .dynamical-line {
        stroke:orange;
    }

    .time-bar {
        fill:$secondary-text-color;
    }
}

$bursty-color: red;
$poissonian-color:blue;
svg { // Activity comparison
    rect.poissonian-activity {
        fill: $poissonian-color;
    }

    rect.bursty-activity {
        fill: $bursty-color;
    }

    path.poissonian-distribution-line {
        stroke: $poissonian-color;
    }

    path.bursty-distribution-line {
        stroke: $bursty-color;
    }
}

svg {
    #rim {
        fill: none;
        stroke: #999;
        stroke-width: 3px;
    }

    .second-hand{
        stroke-width:3;

    }

    .minute-hand{
        stroke-width:8;
        stroke-linecap:round;
    }

    .hour-hand{
        stroke-width:12;
        stroke-linecap:round;
    }

    .hands-cover{
        stroke-width:3;
        fill:#fff;
    }

    .second-tick{
        stroke-width:3;
        fill:#000;
    }

    .hour-tick{
        stroke-width:8; //same as the miute hand
    }

    .second-label{
        font-size: 12px;
    }

    .hour-label{
        font-size: 10px;
    }
}

/*
 * Fix reveal navifate left button placement
 */
.reveal .controls .navigate-left {
    top: 42px;
    right: 74px;

    border-right-width: 22px;
    border-right-color: #000;
}
